@media only screen and (max-width: 970px) 
{
    #bloc_page    
    {        
        width: auto;
    }

    #activites
    {   
        width: auto;
    }   
}

@media only screen and (max-width: 900px)         /* screen and (max-width: 768px) */
{
    #locations
    {
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #populaires
    {
        width: 100%;
        height: auto;
        display: flex;
        margin-bottom: 1rem;
        border-radius: 0;
        position: relative;
    }
   
    .annoncepop
    {
        border: 0.1rem solid black;     
        position: absolute;
        top: 0rem;
        left: 1rem;
    }

    .fa-chart-line   /* a corr */                       
    {
        position: absolute;
        top: 1rem;
        right: 3rem;
    }

    #populaire
    {
        margin-top: 2rem;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        height: auto;
    }

    #hebergements       /* conteneur 2 */
    {   
        width: auto;
        height: auto;
        border-radius: 0;
    } 

    .hpop
    {
        margin: 0.5rem;
    }
    
    #heb
    {
        width: auto;
        height: auto;
        padding-bottom: 2rem;
    }    
   
    #activites
    {
        height: auto;
        margin-top: 0;   
    }

    #actm
    {
        padding: 1.5rem;
        margin-bottom: 0;
    }

    #act
    {
        display: flex;
        flex-wrap: wrap;   
    }

    footer
    {
        flex-wrap: wrap;
        justify-content: space-around; 
        width: 100%
    }

    footer
    {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 850px)
{     
    #filtres
    {
        flex-wrap: wrap ;
    }
    
    #filter
    {
        flex-wrap: nowrap;
        border: 0.1rem solid red;
    }
    
    #populaires
    {
        width: 100%;
        height: auto; 
    } 

    #hpop
    {
        margin: 0.5rem 0;
    }
}

@media screen and (max-width: 735px)
{
    #hebergements
    {
        background-color: white;
        padding: 0;
        margin: 0;              /* !!!! */
        width: auto;
        height: auto
    }
    
    .heba
    {
        width: 16.037rem; 
        height: 9.01rem;
        margin: 0.5rem 0;
        box-shadow: 5px 5px 5px #f2f2f2;
    }
    
    .hebi
    {
        width: 16rem; 
        height: 6rem; 
        border-radius: 1rem 1rem 0rem 0rem;    
    }
}
@media screen and (max-width: 640px)
{
    #logo
    {
        width: 6rem;
        height: 3rem; 
    } 

     #has
    {
        flex-wrap: wrap-reverse;
        border-bottom: 0.125rem solid #f2f2f2;
        padding-top: 0;
        padding-bottom: 1rem;
        align-items: stretch;   /* :( */
    }

    .ha a:hover                               
    {
        border-top: none;
        border-bottom: 0.2rem solid #0065fc; 
        margin-bottom: 2rem;  
    }

    .ins a
    {
        padding-left: 2rem;
        height: 2.5rem;
    }
    
    h1
    {
        padding-right: 2rem;
    }

    /* #filtres a faire */
    
    #infoville
    {
        width: auto;
        clear: left;  /* a corriger */
    }
} 

@media screen and (max-width: 490px)  
{
    .fa-search    
    {
        height: 2rem;                    
        width: 1rem; 
        padding: 0.4rem 0.5rem 0 0.5rem;
    }

    .brico
    {
        display: flex;
    }

    .brmot
    {
        display: none;
    }
    
    .acte
    {   
        margin: 0.1rem;
    }

    .actia, .actib, .actic
    {
        border-radius: 9% 9% 0% 0%;
        width: 16rem; 
        height: 7rem;      
    }

    .acta, .actb, .actc
    {
        width: 16.037rem;     
        height: 9rem;
        box-shadow: 5px 5px 5px #f2f2f2;
        margin: 0.5rem;
    }
}