@media screen and (max-width: 576px)            /* screen and (max-width: 768px) */
{
    #bloc_page    
    {        
        width: auto;
    }

    html
    {
        font-size: 110%;        
    }

    header                
    {
       display: block;
    }
 
    header      
    {
        width: 93%;
        height: 6%;
        line-height: 200%;
        background-color: #f2f2f2; /* a enlever */
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .has:hover                               
    {
        
        border-top: none; 
        border-bottom: 0.2rem solid #0065fc;   /* soulignement ok */ 
        color: #0065fc; 
    }

    .has
    {
        font-size: 120%;
        width: 100%;
        border-bottom: 0.2rem solid black; /* a changer ligne a creer */
    }
 
    #ha
    {
        clear: both;
    }

    /* navigation */

    #boutonrecherche       /* a améliorer */
    {                          
        border-radius: 0.5rem;                 
        width: 95%;                         
        height: 3rem; 
        text-align: justify;                        
    }
    
    #ville
    {
        font-size: 70%;
        padding-left: 2rem;
        font-weight: bold;
        flex: 2;
    }

    .control
    {
        width: 80%;
        display: flex; 
        vertical-align: middle;
        height: 3rem;
    }
    
    button
    {
        background-color: #0065fc;   /* image a changer */
        
    }
    
    .boutonrecherche img           
    {
        height: 5rem;             /* a revoir */       
        width: 3rem; 
    }

    #choix
    {
        width: 93%;
    }

    .choice
    {
        line-height: 150%;
    }

    #filtre                       /* espace a mettre */
    {
        border: 1px solid black;      /* a enlever */
        line-height: 3rem;
        display: block;
       
    } 

    ul
    {
        flex-wrap: wrap; 
    }

    .fa
    {
        font-size: 1rem;  
    }

    .fa img
    {
        height: 3rem;                 
        width: 3rem; 
    }

    #infoville
    {
        text-align-last: center;
    }

    /* locations */

    
    #locations
    {
        display: block;
    }

    #populaires
    {
        width: 100%;
        height: auto;
        border-radius: 0%;
    }


    #annoncepop
    {
        text-align: left;   /* a voir */
    }
    
    .suite                                      /* a corriger */
    {
        float: right;       /* a voir */
        width: 2rem;                 
        height: 2rem;
    }
    
    .hpop               /*  */
    {                
        width: 90%; 
        height: 9rem;
        font-size: 1rem;
        text-align: left;
    }
    
    .hpopi  /* ok */
    {
        width: 11rem;
        height: 9rem;   
    }
    
    .hpopt        /* a terminer */
    {
        padding-left: 1rem;
        line-height: 1.2rem ;
    }
    
    .hpope          /* ok */                    
    {
        width: 6rem;
        height: 1.5rem;
    }

    #act
    {
        display: block;
    }

    footer
    {
        display: block;
    }
    
}    
