
@media only screen and (max-width: 900px)
{   
    #boutonrecherche                       
    {                                                 
        width: 18.8rem;
        height: 2rem;
    }
    
    .fa-map-marker-alt 
    {
        height: 3rem;                    
        width: 2.2rem;
        padding: 0.2rem 0 0 2rem;
    }
    
    #ville
    {
        padding-top: 0;
    }
     
    .search button
    {
        height: 2.1rem;
    }

    #filtres
    {
        display: block;
    }
    
    #filter
    {
        width: auto;
        flex-wrap: wrap;
        margin: 1rem 2rem 1rem 1.5rem;
    }
    
    #locations
    {
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #populaires
    {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        border-radius: 0;
    }
   
    .annoncepop
    {
        position: absolute;
        left: 0rem;
        top: 1rem;
        margin-left: 1rem; 
        width: 100%;          
    }

    .fa-chart-line                         
    {
        position: absolute;
        right: 3rem;
    }

    #populaire
    {
        margin-top: 5rem;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        height: auto;
    }

    #hebergements 
    {   
        width: auto;
        height: auto;
        border-radius: 0;
    } 

    .hpop
    {
        margin: 0.5rem;
    }
    
    #heb
    {
        width: auto;
        height: auto;
        margin-bottom: 2rem;
    }  
    
    #ap
    {
        margin-bottom: 1rem;
        padding-left: 1rem;
    }  
   
    #activites
    {
        height: auto;
        margin-top: 0;   
    }

    #actm
    {
        margin: 1rem;
        padding: 1rem;
    }

    #act
    {
        flex-wrap: wrap;   
    }

    footer
    {
        flex-wrap: wrap;
        justify-content: space-around; 
        width: 100%;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 850px)
{     
    .filtre
    {
        flex-wrap: nowrap;
        margin: 0.5rem 2rem 0.5rem 0;
    }

    #infoville button
    {
        margin-left: 1.5rem;
    }

    #hpop
    {
        margin: 0.5rem 0;
    }
}

@media screen and (max-width: 735px)
{
    #locations
    {
        padding: 0;
    }

    #hebergements
    {
        background-color: white;
        padding: 0;      
    }
    
    .heba
    {
        width: 16.037rem; 
        height: 9.01rem;
        margin: 0.5rem 1rem 1rem 1rem;
        box-shadow: 0.3125rem 0.3125rem 0.3125rem #f2f2f2;
    }
    
    .hebi
    {
        width: 16rem;  
    }
     
    #hebm
    { 
        margin: 0 0 0 2rem;
    }
}

@media screen and (max-width: 640px)
{  
     #has
    {
        flex-wrap: wrap-reverse;
        border-bottom: 0.125rem solid #f2f2f2;
        padding-bottom: 1rem;
    }
    
    #actm
    {
        padding: 0;
    }
    .ha
    {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .ha a
    {
        Width: 50%;
    }

    .ha a:hover                               
    {
        border-top: none;
        border-bottom: 0.2rem solid #0065fc; 
        margin-bottom: 2rem;    
    }

    .ins a
    {
        padding-left: 2rem;
        height: 2.5rem;
    }
    
    h1
    {
        line-height: 1.5rem;
        padding-right: 1.5rem;
        font-size: 1rem;
    }
  
    #populaire
    {
        margin-top: 2rem;
    }
    
    .annoncepop
    {
        margin-top: 0;
        padding-left: 0;
    }

    #heb
    {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }

    #hebm
     { 
         margin-left: 1rem;
     }
    
    #ap
    {
        margin-left: 1rem;
    }
    
} 

@media screen and (max-width: 490px)  
{
    #logo
    {
        padding: 0.5rem 1rem;
    }

    .ins
    {
        margin-right: 3rem;
    }

    .fa-search    
    {
        height: 2rem;                    
        width: 1rem; 
        padding: 0.5rem 0.5rem 0 0.5rem;
    }

    .brico
    {
        display: flex;
        width: 1.9rem;
        height: 2rem;
    }

    .brmot                  /* av */
    {
        display: none;
    }

    .search button          /* av */
    {
        width: 3rem;
    }

    #choix
    {
        margin-left: 1rem;
    }

    .choixt
    {
        padding-left: 0;
    }

    #boutonrecherche                       
    {                                                 
        width: 15.5rem;
    }

    .filtre button
    {
        height: 1.6rem;                 
        width: 1.6rem; 
    }

    .filtre a
    {
        font-size: 0.6rem;
    }

    #filtres h2 /* a corr */
    {
        margin-left: 1rem;
    }

    #filter
    {
        margin: 1rem 0 1rem 0;
    }

    .filtre
    {
        margin-right: 1rem;
    }
    
    #infoville button
    {
        width: 1.7rem;
        height: 1.7rem;
        margin: 1rem;
    
    }
   
    .infot p
    {
        font-size: 0.8rem;
       
    }

    #filtres h2
    {
        margin: 0;
    }

    .infot p
    {
        padding-left: 1rem;
        margin: 0;
        vertical-align: middle;
    }

    #ap
    {
        margin: 0.5rem 0 0.3rem 1rem;
    }
    
    .acte
    {   
        margin: 0.1rem;
    }

    .actia, .actib, .actic
    {
        width: 16rem; 
        height: 7rem;      
    }

    .acta, .actb, .actc
    {
        width: 16.037rem;     
        height: 9rem;
        margin: 0.5rem;
    }

    footer
    {
        display: block;
    }
    
    h3
    {
        margin: 0.5rem 0;
    }  
}

@media screen and (max-width: 360px) 
{
    #boutonrecherche                      
    {
        width: 15.2rem;
        margin-left: 0;
    }
    
    .fa-map-marker-alt, .brico
    {
        height: 1.67rem;                    
        width: 2rem; 
        padding-left: 0.2rem;
    }

    #ville
    {
        height: 1.8rem;
        font-size: 0.8rem;
    }

    .filtre
    {
        white-space: nowrap;
    }
    
    #infoville
    {
        width: auto;
        height: auto;
        margin-right: 1rem;
    }
}