@media screen and (max-width: 576px)
{

    #bloc_page    
    {
        width: auto;
    }

    #ha
    {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .has:hover                               
    {
        border-bottom: 0.1rem solid #0065fc;   /* soulignement ok */ 
        color: #0065fc;              
    }

    #filtre
    {
        display: flex;
        flex-wrap: wrap;
    }

}
