@font-face
{
    font-family:'Raleway', sans-serif;
    src:"https://fonts.google.com/specimen/Raleway?preview.text_type=custom";
}

h1
{
    font-size: 0.9em;
    font-weight: bold;
}

h2
{
    font-size: 0.7em;
    font-weight: bold;
}

figcaption
{
    font-size: 0.7em;
}


#hébergements
{                     
   display: flex;                   
   justify-content: space-around;   /*espace autour*/
   align-content: space-around;
   flex-wrap: wrap;                 /*va a la ligne*/
}

#populaires
{
    display: flex;
    flex-direction: column;         /*alignement verticale*/
    align-content: space-around;
    justify-content: space-around;
}

#activités
{
    display: flex;
}



/*champ de saisie pour la ville */
/* ajouter le fond gris #F2F2F2 au trois conteneurs */
/* bleu #0065FC  plus clair #DEEBFF */