@font-face
{
    font-family:'Raleway', arial,"times new roman", sans-serif;
    src:"https://fonts.google.com/specimen/Raleway?preview.text_type=custom";
}                       /* police a installer,revoir */

#logo                   /* a corriger*/
{
    text-align: left;
}

#focus
{
   text-align: right;   
}

#focus:hover
{
    border-top: 3px solid blue;
}
            
img                        /* a corriger */
{
    width: 60px;        
    height: 40px ;
}

header                      /* a faire */
{
    display: flex;
    align-items: flex-end
}

ul                    
{
    list-style-type: none;                 
    display:flex;
}

nav ul
{
    justify-content: space-between;
}

/* bouton chpisi surligne*/

h1
{
    font-size: 0.9em;
    font-weight: bold;
}

h2
{
    font-size: 0.7em;
    font-weight: bold;
}

figcaption
{
    font-size: 0.7em;
}


#hébergements
{                     
   display: flex;                   
   justify-content: space-around;   /*espace autour*/
   align-content: space-around;
   flex-wrap: wrap;                 /*va a la ligne*/
}

                                    /*dimension du bloc heb en gris clair */

#populaires
{
    display: flex;
    flex-direction: column;         /*alignement verticale*/
    align-content: space-around;
    justify-content: space-around;
}
                                    /*dimencion du bloc pop en gris clair */

#activités
{
    display: flex;
}
                                    /*dimension du bloc act en gris clair */



/*champ de saisie pour la ville */
/* ajouter le fond gris #F2F2F2 au trois conteneurs */
/* bleu #0065FC  plus clair #DEEBFF */