@font-face
{
    font-family:'Raleway', Verdana, Arial, sans-serif;
    src:local('fonts/Raleway-Regular.ttf')
}                       /* police a installer,revoir */

#bloc_page
{
    width: 1000px;
    margin: auto;

}

.interlignage            /* a revoir */
{
    line-height: 1em;  
}

body
{
    font-family: 'Raleway', Verdana, sans-serif;
    color: black;
    font-size: 1em;
    line-height: 200%;
}

body ul
{
    list-style-type: none;
    display: flex;  
}

body li
{
    text-decoration: none;
}

body a
{
    text-decoration: none;
    color: black;
    font-size: 1em;
}

h1
{
    font-size: 1em;
}


/*  header */

header                  /* a corriger */
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

#logo                    /* a corriger*/
{
    text-align: left;
    display: flex;
    height: 4em;       
    width: 9em;     
}




nav a                  /* gris a mettre en place */
{
    color: #0065fc;             
    text-decoration: none;                  /* sans soulignement */
    padding: 1em;
    padding-right: 2em;
}

strong
{
    font-weight: bold;
}

nav a:hover                               
{
   border-top: 0.1em solid #0065fc;          /* surlignement ok */  
}

/* navigation */



.boutonrecherche                /* a coorriger */
{
    color: black;                     /* police */
    position: relative;                 /* pour les elements before et after */
    font-size: 1em;                    /* taille police */          
    border: solid 1px red;            /* bordure a changer */
    background: #0065fc;       /* a revoir */
    border-radius:10px;  
    width: 290px;
    height: 30px;
    display: inline-flex;
}

.boutonrecherche img             /* a ameliorer */
{
    position: relative;
    height: 30px;       
    width: 30px; 
}

#filtre
{
    margin-right: 3px;
    display: inline-flex;
    text-align: right;                 /* a corriger */
}

#filtre a
{
    margin-right: 5px;
    background: white;           /* fond */
    color: black;                /* police */
    text-decoration: none;          /* pas de soulignement */
    position: relative;             /* pour les elements before et after */
    font-size: 0.8em;                /* taille police */
    padding: 0px 15px 0px 0px;              /* bordure a droite */
    border: solid 1px #deebff;        /* bordure a changer */
    border-radius: 25px;                    /* arrondi ok */   
    display: inline-flex;
    width: auto;
    height: auto;
    font-weight: bold;
    margin-right: 15px;
}

#filtre img
{
    position: relative;
    height: 35px;       
    width: 35px; 
}

#infoville 
{
    display: inline-flex;
    position: relative;
}

#infoville img
{
    border:solid 1px #deebff;
    border-radius: 50px;
    position: relative;
    height: 28px;
    width: 28px;  
}

/* super conteneur locations */
/* conteneur 1 pop */



#suite
{
    margin-right: 5px;
    display: inline-flex;
    text-align: right;
}

.soleil
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    display: flex;
    text-align: left;
    width: 170px; 
    height: 115px; 
}

.eau
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    display: flex;
    text-align: left;
    width: 170px; 
    height: 115px; 
}

.bleu
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    display: flex;
    text-align: left;
    width: 170px; 
    height: 115px; 
}

/* conteneur 2  heb*/

.cannebiere figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 200px; 
    height: 50px; 
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;   
}

.port figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 200px; 
    height: 50px; 
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;  
}

.mouettes figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 200px; 
    height: 50px; 
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;  
}

.mer figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 200px; 
    height: 50px; 
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;  
}

.panier figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 200px; 
    height: 50px; 
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;  
}

.amina figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 200px; 
    height: 50px; 
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;   
}

#ap
{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

#heb
{
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 20px;
}

#hebergement
{
    display: flex;
    flex-wrap: wrap;
}

/* conteneur 3 act */

#act
{
    background-color: grey;      /* a changer blanc */
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 20px;
}

#activites
{
    display: flex;
    flex-wrap: wrap;
}

/* footer conteneur 4 */


footer h2
{
    font-size: 1em;
}

footer ul
{
    flex-direction: column;
}

.various
{
    padding-left: 3em;
}
footer
{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    font-size: 0.8em;
}