@font-face
{
    font-family:'Raleway', Verdana, Arial, sans-serif;
    src:local('fonts/Raleway-Regular.ttf')
}                       /* police a installer,revoir */

#logo                   /* a corriger*/
{
    text-align: left;
    display: flex;
}

#logo img                                   /* ok */
{
        height: 40px;       
        width: 70px;       
}

nav ul
{
   list-style-type: none;                   /* sans point ok */
   display: flex;                  /* en ligne a mod */
}

nav li:hover                                /* surlignement ok */
{
    border-top: 1px solid #0065fc;
    color: #0065fc;
}

a:active                          /* a inverser */
{
    color:grey;
}

nav a
{
    font-size: 1em;      /* a corr */
    color: #0065fc;         /* a corr */
}
 
header                      /* a faire */
{
    display: flex;
    align-items: flex-end
}


h1
{
    font-size: 0.9em;
    font-weight: bold;
}

h2
{
    font-size: 0.7em;
    font-weight: bold;
}

figcaption
{
    font-size: 0.7em;
}


#hébergements
{                     
   display: flex;                   
   justify-content: space-around;   /*espace autour*/
   align-content: space-around;
   flex-wrap: wrap;                 /*va a la ligne*/
}

                                    /*dimension du bloc heb en gris clair */

#populaires
{
    display: flex;
    flex-direction: column;         /*alignement verticale*/
    align-content: space-around;
    justify-content: space-around;
}
                                    /*dimencion du bloc pop en gris clair */

#activités
{
    display: flex;
}
                                    /*dimension du bloc act en gris clair */



/*champ de saisie pour la ville */
/* ajouter le fond gris #F2F2F2 au trois conteneurs */
/* bleu #0065FC  plus clair #DEEBFF */