@font-face
{
    font-family:'Raleway', Verdana, Arial, sans-serif;
    src:local('fonts/Raleway-Regular.ttf')
}                       /* police a installer,revoir */

body
{
    color: black;
    font-size: 12px;
}

#logo                   /* a corriger*/
{
    text-align: left;
    display: flex;
}

#logo img                                   /* ok */
{
    height: 40px;       
    width: 70px;       
}

h1 h2 p
{
    font-size: 12px;
}

nav ul
{
   list-style-type: none;    /* sans point ok */
   padding: 20px;
   padding-right: 10px;
   text-align: right;
   display: flex;                  /* en ligne a mod */
}

nav li:hover                                /* surlignement ok */
{
   color: #0065fc;
   border-top: 1px solid #0065fc;
   text-decoration: none;
    
}

header                      /* a faire */
{
    display: flex;
    align-items: flex-end
}

#filtre a
{
    background: white;           /* fond */
    color: black;                /* police */
    text-decoration: none;          /* pas de soulignement */
    position: relative;             /* pour les elements before et after */
    font-size: 12px;                /* taille police */
    padding: 10px;  
    padding-right: 5px;                /* espacement - hauteur du lien */
    border: solid 1px red;          /* a changer */
    border-radius: 6px;                /* arrondi */
    

}



figcaption
{
    font-size: 0.7em;
}


#hébergements
{                     
   display: flex;                   
   justify-content: space-around;   /*espace autour*/
   align-content: space-around;
   flex-wrap: wrap;                 /*va a la ligne*/
}

                                    /*dimension du bloc heb en gris clair */

#populaires
{
    display: flex;
    flex-direction: column;         /*alignement verticale*/
    align-content: space-around;
    justify-content: space-around;
}
                                    /*dimencion du bloc pop en gris clair */

#activités
{
    display: flex;
}
                                    /*dimension du bloc act en gris clair */



/*champ de saisie pour la ville */
/* ajouter le fond gris #F2F2F2 au trois conteneurs */
/* bleu #0065FC  plus clair #DEEBFF */