@font-face
{
    font-family:'Raleway', Verdana, Arial, sans-serif;
    src:local('fonts/Raleway-Regular.ttf')
}                       /* police a installer,revoir */

html
{
    font-size: 100%;
}

#bloc_page
{
    width: 61.875rem;  
    margin: auto;       /* 990px */
}

body
{
    font-family: 'Raleway', Verdana, sans-serif;
    color: black;
    font-size: 1rem;            /* 16px */
    line-height: 1rem;
}

body ul
{
    list-style-type: none;
    display: flex;  
}

body li
{
    margin-right: 1rem;
}
body a
{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

h1
{
    font-size: 1.2rem;
}

h2
{
    font-size: 1.1rem;

}

/*  header */

header                  /* a corriger */
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1.5rem;
}

#logo                    /* a ajuster */
{
    text-align: left;
    display: flex;
    height: 4rem;       
    width: 9rem;    
}

.has                  
{
    color: #0065fc;             
    text-decoration: none;                      /* sans soulignement */
    padding: 1.25rem;         
}

strong
{
    font-weight: bold;
}

.has:hover                               
{
   border-top: 0.1rem solid #0065fc;          /* surlignement ok */  
}

/* navigation */

#choix
{
    margin: 1.5rem;
}

.boutonrecherche       /* a corriger */
{
    font-size: 1.8rem; 
    border: 0.1rem solid #f2f2f2;                   /* taille police */                      /* bordure a changer */
    border-radius: 0.5rem;                 /* 10px */  
    width: 17.35rem;                          /* 290px */
    height: 2rem;                          /* 30px */  
    display: flex;
}

.control
{
    display: flex; 
    vertical-align: middle;
    height: 2rem;
}

button
{
    background-color: #0065fc;
    color:white;
    height: 2rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.boutonrecherche img             /* a ameliorer */
{
    position: relative;
    height: 2rem;                    
    width: 2rem; 
    background-color: #f2f2f2;
    border-radius: 0.4rem 0rem 0rem 0.4rem;
}

#filtre
{
    clear: left;
    display: inline-flex;
    text-align: left; 
    line-height: 2rem;                /* a corriger */
}

.fa
{
    background: white;           /* fond */
    color: black;                /* police */
    text-decoration: none;          /* pas de soulignement */
    position: relative;             /* pour les elements before et after */
    font-size: 0.8rem;                /* taille police */
    padding: 0rem 1rem 0rem 0rem;              /* 15px bordure a droite */
    border: 0.1rem solid #deebff;        /* 1px bordure a changer */
    border-radius: 25rem;                    /* 25px arrondi ok */   
    display: flex;
    width: auto;
    font-weight: bold;
    margin-right: 1rem;
}

.fa:hover
{
    color: mediumorchid;
}

.fa img
{
    height: 2rem;                 
    width: 2rem; 
    vertical-align: middle;
}

#infoville img
{
    border:solid 0.01rem #deebff;       
    border-radius: 1rem;                 
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    margin-right: 1rem;
}

/* super conteneur locations */

#populaires       /* conteneur 1 pop */ 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20.5rem;
    height: 32rem;
    background-color: #f2f2f2; 
    border: 0.1rem solid black; /* a elever */
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#annoncepop
{
    display: flex;
    margin-left: -3.5rem;     
}

#suite              /* a corriger */
{
    width: 1.5rem;                      
    height: 1.5rem;
}

.hpop
{
    border: 0.3rem solid white; 
    border-radius: 1.5rem;                 
    width: 18rem; 
    height: 7rem;
    background: white;
    color: black;
    font-size: 0.5rem;
    line-height: 1.5rem;
    display: flex;
    text-align: left;
    font-size: 0.7rem;
    margin: 0.5rem;
    position: relative;
}

.hpopi
{
    width: 8rem;
    height: 7rem; 
    border-radius: 1.3rem 0rem 0rem 1.3rem;
}

.hpopt                      /* interligne a revoir */
{
    padding-left: 0.5rem;
    padding-right: 1rem;
    line-height: 1rem ;
}

.hpope                              /* a revoir */
{
    position: absolute;
    bottom: 0.5rem;
    width: 5rem;   /* 80px */
    height: 1.125rem;   /* 18px */
}

/* conteneur 2  heb*/


#hebergements
{   
    display: flex;
    justify-content: flex-start;
    width: 41rem;
    background-color: blue;
    padding: 2rem;
}

.heba
{
    border: 0.3rem solid white; 
    background-color: #0065fc;
    border-radius: 1.5rem;
    width: 13.5rem; 
    height: 10rem;
    background: white;
    color: black;
    font-size: 0.5rem;
    line-height: 1.5rem;
    text-align: left;
    margin: 1rem;
    font-size: 0.7rem
}

.hebi
{
    width: 13.5rem; 
    height: 6.5rem; 
    border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.hebt
{
    flex-direction: column
}

figcaption
{
    padding-left: 0.5rem;
    line-height: 1rem;
    position: relative;         /* pour positionner les etoiles*/
}

.hebe
 {
     position: absolute;
     bottom: -1.2rem;
 }

#ap
{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

/* conteneur 3 act */

#act
{
    background-color: grey;      /* a changer blanc */
    padding-top: 0.6em;
    padding-left: 0.2em;
    padding-bottom: 0.8em;              /* 20px */
}

#activites
{
    display: flex;
    flex-wrap: wrap;
}

/* footer conteneur 4 */


footer h2
{
    font-size: 1em;
}

footer ul
{
    flex-direction: column;
}

.various
{
    padding-left: 3em;
}

footer
{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    font-size: 0.8em;
}