@font-face
{
    font-family:'Raleway', Verdana, Arial, sans-serif;
    src:local('fonts/Raleway-Regular.ttf')
}                       /* police a installer,revoir */

.interlignage           // to do   /* a revoir */
{
    line-height: 100%;  
}

body
{
    font-family: 'Raleway', Verdana, sans-serif;
    color: black;
    font-size: 1em;
    line-height: 200%;
}

#bloc_page
{
    width: 900px;
    margin: auto;

}

/*  header */

header                  /* a corriger */
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

#logo                    /* a corriger*/
{
    text-align: left;
    display: flex;
}

#logo img                                   /* ok */
{
    height: 40px;       
    width: 70px;       
}

nav ul                   /* navigation */ 
{                         
   list-style-type: none;                   /* sans point ok */  
   display: flex;                           
}

nav li
{
    margin-right: 15px;
}

nav a                    /* gris a mettre en place */
{
    color: #0065fc;             
    text-decoration: none;                  /* sans soulignement */
    padding: 10px;
    padding-right: 5px;
}

strong
{
    font-weight: bold ;
}

nav a:hover                               
{
   border-top: 2px solid #0065fc;          /* surlignement ok */  
}

/* navigation */

h1
{
    font-size: 1em;
}

#recherche                /* a coorriger */
{
    color: black;                     /* police */
    position: relative;                 /* pour les elements before et after */
    font-size: 1em;                    /* taille police */          
    border: solid 1px red;            /* bordure a changer */
    background: #0065fc;       /* a revoir */
    border-radius:15px;  
    width: 290px;
    height: 30px;
    display: inline-flex;
}

#recherche img             /* a ameliorer */
{
    position: relative;
    height: 30px;       
    width: 30px; 
}

#filtre
{
    margin-right: 10px;
    display: inline-flex;
    text-align: left;                 /* a corriger */
}

#filtre a
{
    margin-right: auto;
    background: white;           /* fond */
    color: black;                /* police */
    text-decoration: none;          /* pas de soulignement */
    position: relative;             /* pour les elements before et after */
    font-size: 12px;                /* taille police */
    padding: 0px 15px 0px 0px;              /* bordure a droite */
    border: solid 1px #deebff;        /* bordure a changer */
    border-radius: 25px;                    /* arrondi ok */   
    display: inline-flex;
    width: auto;
    height: auto;
    font-weight: bold;
}

#filtre img
{
    position: relative;
    height: 35px;       
    width: 35px; 
}

#infoville 
{
    display: inline-flex;
    position: relative;
}

#infoville img
{
    border:solid 1px #deebff;
    border-radius: 50px;
    position: relative;
    height: 28px;
    width: 28px;  
}

/* conteneur hebergement */




/* footer */

#apropos ul
{
    list-style-type: none;                  
}
#apropos a
{
    color: black;             
    text-decoration: none;                  
    margin-left: 0;
}

#offres ul
{
    list-style-type: none;                 
}

#offres a
{
    color: black;             
    text-decoration: none;                 
    margin-left: 0;
}  

#assistance ul
{
    list-style-type: none;                  
}

#assistance a
{
    color: black;             
    text-decoration: none;                
    margin-left: 0;
}
                                    

/*champ de saisie pour la ville */
/* ajouter le fond gris #F2F2F2 au trois conteneurs */
/* bleu #0065FC  plus clair #DEEBFF */