@font-face
{
    font-family:'Raleway', Verdana, Arial, sans-serif;
    src:local('fonts/Raleway-Regular.ttf')
}                       /* police a installer,revoir */

html
{
    font-size: 100%;
}

#bloc_page
{
    width: 61.875rem;         /* 990px */
}

body
{
    font-family: 'Raleway', Verdana, sans-serif;
    color: black;
    font-size: 1rem;            /* 16px */
    line-height: 1rem;
}

body ul
{
    list-style-type: none;
    display: flex;  
}

body a
{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

h1, h2
{
    font-size: 1rem;
}


/*  header */

header                  /* a corriger */
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo                    /* a corriger*/
{
    text-align: left;
    display: flex;
    height: 4rem;       
    width: 9rem;     
}

nav a                  /* gris a mettre en place */
{
    color: #0065fc;             
    text-decoration: none;                  /* sans soulignement */
    padding: 1.25rem;         /* 20px */
}

strong
{
    font-weight: bold;
}

nav a:hover                               
{
   border-top: 0.1rem solid #0065fc;          /* surlignement ok */  
}

/* navigation */

.boutonrecherche       /* a corriger */
{
    font-size: 1.8rem; 
    border: 0.2rem solid red;                   /* taille police */                      /* bordure a changer */
    border-radius: 0.5rem;                 /* 10px */  
    width: 10rem;                          /* 290px */
    height: 1.1rem;                          /* 30px */  
    display: flex;
    margin: 1rem;
}

.control
{
    display: flex; 
    vertical-align: middle;
    height: 2rem;
}

button
{
    background-color: #0065fc;
    color:white;
    height: 2rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.boutonrecherche img             /* a ameliorer */
{
    position: relative;
    height: 2rem;                    
    width: 2rem; 
    background-color: #f2f2f2;
    border-radius: 0.4rem 0rem 0rem 0.4rem;
}

#filtre
{
    clear: left;
    display: inline-flex;
    text-align: left; 
    line-height: 2rem;                /* a corriger */
}

#filtre a
{
    background: white;           /* fond */
    color: black;                /* police */
    text-decoration: none;          /* pas de soulignement */
    position: relative;             /* pour les elements before et after */
    font-size: 0.8rem;                /* taille police */
    padding: 0rem 1rem 0rem 0rem;              /* 15px bordure a droite */
    border: 0.1rem solid #deebff;        /* 1px bordure a changer */
    border-radius: 25rem;                    /* 25px arrondi ok */   
    display: inline-flex;
    width: auto;
    font-weight: bold;
    margin-right: 1rem;
}

#filtre img
{
    height: 2rem;                 
    width: 2rem; 
    vertical-align: middle;
}

#infoville img
{
    border:solid 0.01rem #deebff;       /* 1px */
    border-radius: 1rem;                 /* 50px */
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    margin-right: 1rem;
}

/* super conteneur locations */

/* conteneur 1 pop */

#suite
{
    float: right; 
    width: 1.2rem;                       /* 30px */
    height: 1.2rem;
    vertical-align: text-bottom;      /* a corriger */
}

#pop         
{
    display: flex;
}

.hpop
{
    border: 0.16rem solid black;        /* 4px */
    border-radius: 2rem;                 /* 25px */
    width: 25rem; 
    height: 9rem;
    background: white;
    color: black;
    font-size: 0.7rem;
    line-height: 1.5rem;
    display: flex;
    text-align: left;
    margin: 1rem;
    font-size: 0.9rem;
}

#i_soleil
{
    width: 10rem;
    height: 9rem; 
    border-radius: 1.9rem 0rem 0rem 1.9rem;
}

#t_soleil
{
    padding-left: 1rem;
}

#e_soleil
{
    align-items: flex-end;
}

/* conteneur 2  heb*/

.cannebiere figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 200px; 
    height: 50px; 
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;   
}

.port figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 8em;                         /* 200px */ 
    height: 2em;                       /* 50px */
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;  
}

.mouettes figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 8em; 
    height: 2em; 
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;  
}

.mer figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 8em; 
    height: 2em; 
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;  
}

.panier figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 8em; 
    height: 2em; 
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;  
}

.amina figcaption
{
    background: white;
    color: black;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 8em; 
    height: 2em; 
    border-radius: 0% 0% 10% 25%;
    padding-left: 1em;   
}

#ap
{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

#heb
{
    background-color: #f2f2f2;
    padding-top: 0.6em;                  /* 15px */
    padding-left: 0.2em;                  /* 5px */
    padding-bottom: 0.2em;
}

#hebergement
{
    display: flex;
    flex-wrap: wrap;
}

/* conteneur 3 act */

#act
{
    background-color: grey;      /* a changer blanc */
    padding-top: 0.6em;
    padding-left: 0.2em;
    padding-bottom: 0.8em;              /* 20px */
}

#activites
{
    display: flex;
    flex-wrap: wrap;
}

/* footer conteneur 4 */


footer h2
{
    font-size: 1em;
}

footer ul
{
    flex-direction: column;
}

.various
{
    padding-left: 3em;
}

footer
{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    font-size: 0.8em;
}