@font-face
{
    font-family:'Raleway', Verdana, Arial, sans-serif;
    src:local('fonts/Raleway-Regular.ttf')
}                     

html
{
    font-size: 100%;
}

#bloc_page
{
    width: 62rem; 
    margin:auto;                     /* 992px */    
}

body
{
    font-family: 'Raleway', Verdana, sans-serif;
    color: black;
    font-size: 1rem;          
    line-height: 1rem;
    margin: 0;
    padding: 0;
}

{
    box-sizing: border-box;
}

body ul
{
    list-style-type: none;
    display: flex;  
}

body a
{
    text-decoration: none;
    color: black;
}

h1
{
    font-size: 1.2rem;
    margin: 0rem;
}

h2
{
    font-size: 1.1rem;
}

h3
{
    font-size: 1rem;
}

/*  header */

header                
{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2rem 0 0;
}

#logo                   
{
    float: left;
    padding: 1rem 0 0 2rem;
    height: 3.3rem;       
    width: 8rem;   
}

#ha                 
{
    display: flex;
    color: black;            
    text-decoration: none;
    height: 3rem;                   
}

.has
{
    padding-top: 2rem;
    margin-right: 3rem;
}

.has:hover                               
{
    border-top: 0.1rem solid #0065fc;   
    color: #0065fc; 
}

.ins
{
    color: #0065fc;
}

#hass
{
    height: 3rem;
    width: 6rem;   
    display:flex;
    align-items: center;   
    font-weight: bold;
}

#shas
{
    display: flex;
}

 /* navigations */

#choix             
{
    width: 100%;
    height: auto;
    padding-left: 2rem;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0 2rem 0
}

#choixt
{
    line-height: 0.9rem;      /* interligne a mod */
}

#boutonrecherche                        /* a améliorer */
{
    font-size: 1.8rem;                         
    border-radius: 0.6rem;                 
    width: 4rem;                         
    height: 2rem;                          
    display: flex; 
}

.fa-map-marker-alt                    /* a ameliorer */
{
    height: 2rem;                    
    width: 1.8rem; 
    padding: 0.2rem 0 0 0.6rem;
    background-color: #f2f2f2;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

#ville
{
    height: 1.8rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.search button
{
    background-color: #0065fc;
    font-size: 1rem;
    color:white;
    height: 2.2rem;
    width: auto;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.ico
{
    display: none;
}

/* filtres */

#filtres 
{
    display: flex;
    line-height: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.filtre
{
    height: 2.5rem;                 
    width: auto; 
    margin-left: 1rem;
    padding-right: 1rem; 
    border-radius: 25rem; 
    border: 0.1rem solid #deebff;                                                
}        

#filtres button
{
    height: 2.5rem;                 
    width: 2.5rem; 
    color: #0065fc; 
    background-color: #deebff;
    border-radius: 50%;
    border: 0.1rem solid #deebff;
}

#filtres button:hover
{
    background-color: #0065fc;
    color:white;
}

#infoville
{
    width: 35rem;
    height: 2rem;
    line-height: 1rem;
}          

.infot            /* a corr */                    
{
    width: auto;                      
    height: 2rem; 
    margin-right: 2rem;               
}

#infoville button
{
    width: 2rem;
    height: 2rem;
    color: #0065fc;
    background-color: white;
    border-radius: 50%;
    border: 0.1rem solid #deebff;
}

/* super conteneur locations */

#locations
{
    width: 100%;
    display: flex;  
    flex-direction: row-reverse;
    justify-content: space-around;
}

#populaires       /* conteneur 1 */ 
{
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: auto;
    background-color: #f2f2f2; 
    border-radius: 5%;
    padding: 1rem 0 1rem 0;
    position: relative;
}

.annoncepop
{
    width: auto;
    display: flex;              
    height: 2rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem; 
}

#populaire
{ 
    width: auto;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fa-chart-line                                
{
    width: 2rem;                      
    height: 2rem;
    font-size: 1.2rem;
    padding-top: 0.8rem;
    vertical-align: baseline;
}

.hpop 
{
    border: 0.3rem solid white; 
    border-radius: 1rem;                 
    width: 16rem; 
    height: 6.5rem;
    background: white;
    display: flex;
    font-size: 0.7rem;
}

.hpopi
{
    width: 7rem;
    height: 6.5rem;
    border-radius: 1rem 0rem 0rem 1rem;
    object-fit: cover;
}

.popd 
{
    width: 7rem;
    height: 6rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    line-height: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hpopt
{
    width: 7rem;
    height: 4.5rem;
}

.etoiles
{
    display: flex;
    align-content: flex-start;
    width: 7rem;
    height: 1rem;
}

.etbleu
{
    width: auto;
    height: 1rem;
    color: #0065fc;
}

.etgris
{
    width: auto;
    height: 1rem;
    color: #f2f2f2;
}

#hebergements           /* conteneur 2 */
{   
    width: 40rem;
    height: 33rem;
    background-color: #f2f2f2;
    border-radius: 3%;
    position: relative;
}

#hebm
{
    position: absolute;
    top: 1rem; 
    margin-left: 1rem;   
}

#heb
{
    width: 39rem;
    height: 24rem;
    margin-top: 4.5rem;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.heba
{
    border: 0.3rem solid white;
    margin: 0rem; 
    border-radius: 1rem;
    width: 11rem; 
    height: 10rem;
    background: white;
}

.hebi
{
    width: 11rem; 
    height: 6rem; 
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
}

figcaption
{
    width: 10rem;
    height: 2.3rem;
    line-height: 0.9rem;
    margin-top: -0.5rem;
    font-size: 0.5rem;
}

#ap
{
    position: absolute;
    float: left;
    bottom: 0.5rem;
    margin: 0 0 1rem 1rem;
}

#activites          /* conteneur 3 act */
{
    background-color: white; 
    width: 62rem;
    height: 29rem;
    justify-content: center;
}

#act
{
    display: flex;  
    justify-content: space-around;
    padding-top: 0.6em; 
}

#actm
{
    padding: 2rem 0 0 2rem;
}

.acte
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}

.acta, .actb, .actc
{
    border: 1px solid #f2f2f2;
    border-radius: 8%; 
    width: 13rem; 
    box-shadow: 5px 5px 5px #f2f2f2;
    margin: 0rem
}

.acta
{
    height: 20rem;       
}

.actb
{
    height: 10rem; 
}

.actia, .actib, .actic
{
    width: 13rem; 
    height: 17rem; 
    border-radius: 9% 9% 0% 0%;   
}

.actib
{
    height: 7rem;
    object-fit: cover;
}

.actc
{ 
    height: 8rem; 
    object-fit: cover;
}

.actic
{
    height: 5rem; 
    object-fit: cover;
}

figcaption
{
    font-size: 0.7em; 
    padding: 0.8rem 0 0 1rem;
    text-align: left;
}
    
footer ul               /* footer conteneur 4 */
{
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    line-height: 150%;
}

.various
{
    padding: 1rem 3rem 1rem 1rem;
}
footer
{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 100%;   
    padding: 1rem;
}