@font-face
{
    font-family:'Raleway', Verdana, Arial, sans-serif;
    src:local('fonts/Raleway-Regular.ttf')
}                       /* police a installer,revoir */

body
{
    font-family: 'Raleway', Verdana, sans-serif;
    color: black;
    font-size: 0.8em;
}

header                  /* a corriger */
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

#logo                    /* a corriger*/
{
    text-align: left;
    display: flex;
}

#logo img                                   /* ok */
{
    height: 40px;       
    width: 70px;       
}

nav ul                                      /* navigation */ 
{
   list-style-type: none;                   /* sans point ok */  
   display: flex;                           /* en ligne a mod */
}

nav li
{
    margin-right: 15px;
}

nav a                       /* gris a mettre en place */
{
    color: #0065fc;             
    text-decoration: none;        /* sans soulignement */
    padding: 3px;
    padding-right: 10px;
}

li strong
{
    font-weight: bold ;
}

nav a:hover                               
{
   border-top: 2px solid #0065fc;       /* surlignement ok */  
}

h1
{
    font-size: 1em;
}

#recherche
{
    background: white;           /* fond */
    color: black;                /* police */
    position: relative;             /* pour les elements before et after */
    font-size: 12px;                /* taille police */
    padding-left: 0px;              /* bordure a droite */
    border: solid 1px red;        /* bordure a changer */
    border-radius:15px;  
}

#recherche img
{
    position: relative;
    height: 30px;       
    width: 30px; 
}

#filtre a
{
    margin-left: 10px;             /* separartion */
    background: white;           /* fond */
    color: black;                /* police */
    text-decoration: none;          /* pas de soulignement */
    position: relative;             /* pour les elements before et after */
    font-size: 12px;                /* taille police */
    padding: 10px;                  /* bordure interne */
    padding-left: 0px;              /* bordure a droite */
    margin-left: 60px;              /* décaler */
    border: solid 1px red;        /* bordure a changer */
    border-radius: 25px;                    /* arrondi ok */    
}

#filtre img
{
    position: relative;
    height: 40px;       
    width: 40px; 
    padding: 0px 10px 0px 0px;
}

figcaption
{
    font-size: 0.7em;
}


#hébergements
{                     
   display: flex;                   
   justify-content: space-around;   /*espace autour*/
   align-content: space-around;
   flex-wrap: wrap;                 /*va a la ligne*/
}

                                    /*dimension du bloc heb en gris clair */

#populaires
{
    display: flex;
    flex-direction: column;         /*alignement verticale*/
    align-content: space-around;
    justify-content: space-around;
}
                                    /*dimencion du bloc pop en gris clair */

#activités
{
    display: flex;
}
                                    /*dimension du bloc act en gris clair */



/*champ de saisie pour la ville */
/* ajouter le fond gris #F2F2F2 au trois conteneurs */
/* bleu #0065FC  plus clair #DEEBFF */